<html>
<body>

<form action="/action_page.php">
  Applicant's First Name:<br>
  <input type="text" name="firstname">
  <br>
  Applicant's Last Name:<br>
  <input type="text" name="lastname">
  <br>
  Applicant's Licence Number:<br>
  <input type="text" name=="license">
  <br>
  Applicant's Licence Type:<br>
  <input type="type" name=="type">
  <br>
  <input type="checkbox" name="vehicle" value="Accept">Lose Demerit Point(s)<br>
  <br><br>
  <button type="button">Issue Fine</button>
</form> 
</body>
</html>