<!DOCTYPE html>
<html>
    <head>
		<meta charset="UTF-8">
		<title>My Profile</title>
        <link rel="stylesheet" href="/css/webpage.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" ></script>
        <script src="web-javascript.js"></script>
    </head>
    <body>
        <button type="button" id="reveal-nav">&#8801</button>
        <nav>
            <ul id="nav-section">
                <li> <img src="img/rta.jpg" alt="GOL.ED" id="logo"></li>
				<li><a href="home">Home</a></li>
				<li><a href="/logout">Logout</a></li>
                <li><a href="/publicProfile">Profile</a></li>
            </ul>
            <ul id="secondary-nav-section">
                <li>(C) RTA</li>
                <li>Updated: September 2017</li>
            </ul>
        </nav>
        <button type="button" onclick="window.location.href='home'" id="logout">Log Out</button>
        <h1>Road Safety Officer Account</h1>
        <h2> My Details </h2>
        <p>	<b>Username:</b>
        </p>

		<button type="button" onclick="window.location.href='fines';">Fines and Demerits</button>
		<button type="button" onclick="alert('Change Password')">Change Password</button>
    </body>
</html>
