@font-face {
    font-family: Sandbox;
    src: url(sandbox-melodrama.ttf);
}

@font-face {
    font-family: Kg;
    src: url(KGNeatlyPrinted.ttf);

}


body {
    font-family: Kg, "Times New Roman", serif;
    line-height: 1.4em;
    font-size: 24px;
    margin: 20px 20px 20px 300px;
}

section.headline {
    height: 400px;
    width: 150%;
    margin-left: -88px;
    margin-top: -30px;
    opacity: 0.5;
    background-image: url('tesla.jpg');
    background-position: center center;
    background-size: cover;
}


section.headline .overlay {
    background-color: rgba(51, 51, 51, 0.2);
}

.infomation-GOL.ED {
    opacity: 0.5;
    margin-top: 30px;
}


h1 {
    font-family: Sandbox;
    font-size: 60px;
    text-align: center;
    padding: 20px;
    margin: 20px;
    line-height: 50px;
}

h2 {
    font-size: 40px;
    font-family: Sandbox;
}

h3 {
    font-size: 30px;
    text-emphasis: bold;
    padding-top: 20px;
    text-decoration: underline;
}

#reveal-nav {
  display: none;
}

nav {
    background: #d9d9d9;
    position: fixed;
    height:200%;
    top: -10px;
    left: 0;
    overflow: hidden;
    width: 250px;
    margin: -10px -38px;
    padding: 0;
    font-family: Sandbox;
    font-size: 20px;
}

nav > ul {
    list-style-type: none;
}

nav> ul > li {
    display: block;
    text-align: center;
    color: #000000;
    font-size: 30px;
}

nav > ul > li > a {
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    display: block;
    color: #000000;
}

nav > ul > li > a:hover {
    background-color: #89e894;
}

#secondary-nav-section {
    position: absolute;
    display: block;
    left: 0px;
}

.avatar {
    float: left;
    margin: 10px;
}

.form-sign-in {
    width: 100%;
    overflow: auto;
}

.login, .signup {
    float: left;
    width: 45%;
    margin-right: 5%;
}

img.smart-goal-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#logo{
    width: 210px;
}

#spanel {
    color:#447aa0;
    display: none;

}

#mpanel {
    color:#009383;
    display: none;
}

#apanel {
    color:#76a840;
    display: none;

}

#rpanel {
    color:#ddba27;
    display: none;
}

#tpanel {
    color:#e78b39;
    display: none;

}

#panel {
    display: none;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

#panel {
    list-style-type: none;
}

#panel > li {
    display: block;
    color: #000000;
    font-size: 20px;
}

#panel > li > a {
    text-decoration: none;
    display: block;
    color: #000000;
}

#panel > li > a:hover {
    background-color: #89e894;
}

ul > li {
    color: #5fa366;
    text-emphasis: bold;
}

b {
    color: #5fa366;
}

#logout {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 50px;
    width: 100px;
    background-color: #d9d9d9;
    border: none;
    font-size: 26px;
    font-family: Sandbox;
}

@media screen and (max-width: 768px) {
    section.headline {
        display: none;
    }

    img.smart-goal-pic {
        display: none;
    }

    #logout {
        position: absolute;
        right: 10px;
        top: 10px;
        height: auto;
        width: auto;
        background-color: #d9d9d9;
        border: none;
        font-size: 24px;
        font-family: Sandbox;
    }

    .login {
        position: 400px, 300px, 0, 230px;
    }

    nav {
        display: none;
    }

    #reveal-nav {
        position: fixed;
        display:block;
        background-color: #d9d9d9;
        border: none;
        font-size: 40px;
        font-family: Sandbox;
        height: 50px;;
        width: 50px;;
        left: 0;
        top: 0;
    }

    body {
        margin: 20px 20px 20px 20px;
    }

}
