
Apply for a license
</p>
<p>
<form action="/applyLicense" method="post">
    Given name: <input name="givenName" type="text" />
</br>
    Surname: <input name="surname" type="text" />
</br>
    Date of Birth: <input name="dob" type="date" />
</br>
    Address: <input name="address" type="text" />
</br>
    Postcode: <input name="postcode" type="number" />
</br>
    Email: <input name="email" type="email" />
</br>
    Phone Number: <input name="number" type="tel" />
</br>
    <input value="Submit Application for Approval" type="submit" />
</form>
</p>
</center>
