Notify Destruction of Vehicle
</p>
<p>
<form action="/destroyed" method="post">
</br>
    Registration: <input name="rego" type="text">
</br>
    Cause of Destruction:
    <textarea name="message" rows="10" cols="30">
    </textarea>
</br>
    Suburb of Incident: <input name="suburb" type="text">
</br>
    Road of Incident: <input name="road" type="text">
</br>
    Were Police Notified: <input name="police" type="radio"> Yes <input name="police" type="radio"> No
</br>
    <input value="Submit Application for Approval" type="submit" />
</form>
</p>
</center>
