Register a Vehicle
</p>
<p>
<form action="/registervehicle" method="post">
    Vehicle Type: <input name="type" type="text">
</br>
    Registration: <input name="rego" type="text">
</br>
    Vehicle Make: <input name="make" type="text">
</br>
    Vehicle Model: <input name="model" type="text">
</br>
    Licence Number: <input name="licence" type="number" />
</br>
    Address: <input name="address" type="text" />
</br>
    Postcode: <input name="postcode" type="number" />
    <!--Reject if it not 4 digits. Must start with a 2-->
</br>
    Date of Purchase: <input name="purchase" type="date" />
</br>
    Contact Number: <input name="number" type="tel" />
</br>
    <input value="Submit Application" type="submit" />
</form>
</p>
</center>
