Notify the Sale of a Vehicle
</p>
<p>
<form action="/vehicleSale" method="post">
    Vehicle Type: <input name="type" type="text">
</br>
    Registration: <input name="rego" type="text">
</br>
    Vehicle Make: <input name="make" type="text">
</br>
    Vehicle Model: <input name="model" type="text">
</br>
New Owner Details
</br>
    Name: <input name="newname" type="text">
</br>
    Date of Sale: <input name="sold" type="date">
</br>
    Price: $ <input name="price" type="number">
</br>
    <input value="Submit Application" type="submit" />
</form>
</p>
</center>
