<!DOCTYPE html>
<html>
    <head>
		<meta charset="UTF-8">
		<title>Apply for a License</title>
        <link rel="stylesheet" href="/css/webpage.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" ></script>
        <script src="web-javascript.js"></script>
    </head>
    <body>
        <button type="button" id="reveal-nav">&#8801</button>
        <nav>
            <ul id="nav-section">
                <li> <img src="img/rta.jpg" alt="GOL.ED" id="logo"></li>
				<li><a href="home">Home</a></li>
				<li><a href="/logout">Logout</a></li>
                <li><a href="/publicAccount">Return</a></li>
            </ul>
            <ul id="secondary-nav-section">
                <li>(C) RTA</li>
                <li>Updated: September 2017</li>
            </ul>
        </nav>
        <button type="button" onclick="window.location.href='home'" id="logout">Log Out</button>

		<h2>Apply for a License</h2>
		<p>
		<form action="/applyLicense" method="post">
		    Given name: <input name="givenName" type="text" />
		</br>
		    Surname: <input name="surname" type="text" />
		</br>
		    Date of Birth: <input name="dob" type="date" />
		</br>
		    Address: <input name="address" type="text" />
		</br>
		    Postcode: <input name="postcode" type="number" />
		</br>
		    Email: <input name="email" type="email" />
		</br>
		    Phone Number: <input name="number" type="tel" />
		</br>
		    <input value="Submit Application for Approval" type="submit" />
		</form>
		</p>
		</center>
	</body>
</html>
