<p>We're a group of threatening security game changers who arecommoditising opportunity pipelines and reorthogonalising boost up-sell messages before getting out of bed each day.
<br>In our team we have: 
<br><b>Hay Bale:</b> Two Factor Authentication Specialist
<br><b>Moore Straw:</b> Algorithms and Cryptography Expert
<br><b>Christine Harvester: </b> Privacy and Spyware Guru
<br><b>Daunt Silage:</b> Web Vulnerabilities and Excel Czar
<br><b>Provender Mann:</b> Malware, Worms and Viruses Centurion
</p>

<p>
And together we're here to {garble}
</p>