<head>
<link rel="stylesheet" type="text/css" href="css/temp.css">
<css src="css/temp.css">
<title>Road Transport Authority Site</title>
</head>

<p>
<ul>
  <li><a class="active" href="/home">Home</a></li>
  <li><a href="/login">Login</a></li>
  <li><a href="/logout">Logout</a></li>
  <li><a href="/register">Register</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="/apply_license">Apply</a></li>
  <li><a href="/applications">Applications</a></li>
  <li><a href="/accept_revoke">Application Process</a></li>
  <li><a href="/accounts">Accounts</a></li>
  <li><a href="/reset" style="color:#FF0000">RESET</a></li>
</ul>
</p>
<center><h2>Road Transport Authority CyberHub</h2>


<h3><i>The most secure way to legally obtain a license</i></h3>

<p>
<img src="img/tesla.jpg" alt="'Car' by Tesla">
</p>
<p>
