<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>RTA</title>
        <link rel="stylesheet" href="/css/webpage.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" ></script>
        <script src="web-javascript.js"></script>
    </head>
    <body>
        <button type="button" id="reveal-nav">&#8801</button>
        <nav>
            <ul id="nav-section">
                <li><img src="img/rta.jpg" alt="GOL.ED" id="logo" style="width: 210px;"></li>
                <li><a href="home">Home</a></li>
				<li><a href="/login">Login</a></li>
			    <li><a href="/logout">Logout</a></li>
			    <li><a href="/register">Register</a></li>
			    <li><a href="/accounts">Accounts</a></li>
				<li><a href="/publicAccount">Public Account</a></li>
				<li><a href="/staffAccount">Staff Account</a></li>
				<li><a href="/safetyOfficerAccount">Safety Account</a></li>
			    <li><a href="/reset" style="color:#FF0000">RESET</a></li>
            </ul>
            <ul id="secondary-nav-section">
                <li>(C) RTA</li>
                <li>Updated: September 2017</li>
            </ul>
        </nav>
             <div class="container">
         <section class="headline">
             </div>
        <div id="infomation-GOL.ED">
            <h1>Welcome to the Road Traffic Authority</h1>
            <p>The Roat Traffic Authority (RTA) is a NSW government regulated website regulating the operations and programs on our roads to ensure the safety of the public. Here you can register your vehicle, apply or renew your license or register your damaged vehicle.</p>
        </div>
        <section class="form-sign-in">
            <div class="signup">
                <h2>Sign Up</h2>
               <form action="/register" method="post">
    Username: <input name="username" type="text" /></br>

    Password: <input name="password" type="password" /></br>
	<input type="radio" name="rso" value=True> RTO<br>
	<input type="radio" name="rso" value=False>Public<br>

    <input value="Create account" type="submit" />
</form>
            </div>
            <div class="login">
                <h2>Login</h2>
                <form action="/login" method="post">
                    <div class="field-wrap">
                        <label>Username<span class="req">*</span></label>
                        <input type="text"required autocomplete="off"name="username"/>
                    </div>
                    <div class="field-wrap">
                        <label>Password<span class="req">*</span></label>
                        <input type="password"required autocomplete="off"name="password"/>
                    </div>
                    <button class="button button-block"type="submit"onclick="window.location.href='/login';">Log In</button>
                </form>
            </div>
        </section>
    </body>
</html>
